.bg-grid {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    grid-template-rows: repeat(2, 40px);
    gap: 10px;
}

.bg-item {
    width: 64px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition:
        border 0.2s ease,
        transform 0.2s ease;

    &:hover {
        transform: scale(1.03);
    }

    &.selected {
        border: 2px solid #1677ff;
    }
}
