.workspace-grid {
    display: grid;
    gap: 40px;
    row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    @media (max-width: 395px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}

.workspace-card {
    width: 100% !important;
}
